*{
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: orangered;
}
.btn-primary{
    color: #FFFFFF;
   font-weight: 700;
   font-size: 20px;
   border: 0;
   padding: 18px 35px;
   height: 64px;
   border-radius: 5px;
   background-color: orangered;
}
.header{
    background: #FFF8f3;
    background-image: url('/public/header_bg.png'), url('/public/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header and navigation */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;

}
nav ul{
    display: flex;
     align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
   
}
/* banner styls */
.banner{
     display: flex;
     align-items: center;
    margin: 0 200px;
   
}
.banner-title{
   font-weight: 700;
   font-size: 85px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* abot section styles */
.about{
    text-align: center;
    margin-top: 130px;
    background-color: #FFF8f3;
    border-radius: 10px;
    padding: 130px 150px;

}
.section-title{
     font-weight: 700;
     font-size: 35px;
     margin-bottom: 30px;
}
.section-description{
     color: #757575;
     font-size: 18px;
     margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}